---
import Competicion from '../../components/plantilla-compe/Competicion.astro';

const ex_link = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQwLB31GLTmufwoYPnXXxjDClEUTElrmm54Mcoy3zL0oiPNN1ItVaNgdUL-C5UeS4_8M6MJ9Aqe8oNa/pubhtml?gid=0&single=true"
const reg_link = "";
const form_link = "";

---

<Competicion titulo="League of Legends" descripcion="Es un MOBA" aula="Aula 1" horario="20:00"
    ex_link={ex_link} reg_link={reg_link} form_link={form_link} >
    
    <Fragment slot="reglas-col-1">
        <p class="text-dark dark:text-white">
            <div class="mt-8 font-bold text-dark dark:text-white">1. Subtitulo</div>
            Esto es una prueba
        </p>
    </Fragment>

    <Fragment slot="reglas-col-2">
        <p class="text-dark dark:text-white">
            <div class="mt-8 font-bold text-dark dark:text-white">2. Subtitulo</div>
            Esto es una segunda prueba
        </p>
    </Fragment>

</Competicion>