---
const {link} = Astro.props;
---
<!-- ====== Inscripción Section Start -->
<section class="relative overflow-hidden bg-primary py-20 lg:py-[115px]">
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center">
      <div class="w-full px-4">
        <div class="hero-content wow fadeInUp mx-auto max-w-[780px] text-center" data-wow-delay=".2s">
          <h1 class="mb-6 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]">
            ¡Anímate a participar!
          </h1>
          <p class="mx-auto mb-9 max-w-[600px] font-medium text-base text-white sm:text-lg sm:leading-[1.44]">
            Las inscripciones estan abiertas hasta el <u>3 de marzo</u>.
          </p>
          <a href={link}
            class="inline-flex items-center justify-center rounded-md bg-white py-[14px] px-7 text-center text-base font-medium text-dark shadow-lg transition duration-300 ease-in-out hover:text-body-color hover:bg-gray-2">
                Inscribirme
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Inscripción Section End -->
