<!-- ====== Localizacion y Hora Start ====== -->
<section class="relative z-10 overflow-hidden bg-gray-1 dark:bg-dark-2 py-20 lg:py-[80px]">
  <div class="container mx-auto">
    <div class="relative overflow-hidden">

      <div class="-mx-4 flex flex-wrap">

        <div class="w-full px-4 lg:w-1/2">
          <div class="mb-8 flex w-[330px] max-w-full mx-auto">
            <div class="mr-6 text-[32px] text-primary">
              <svg width="29" height="35" viewBox="0 0 29 35" class="fill-current">
                <path
                  d="M14.5 0.710938C6.89844 0.710938 0.664062 6.72656 0.664062 14.0547C0.664062 19.9062 9.03125 29.5859 12.6406 33.5234C13.1328 34.0703 13.7891 34.3437 14.5 34.3437C15.2109 34.3437 15.8672 34.0703 16.3594 33.5234C19.9688 29.6406 28.3359 19.9062 28.3359 14.0547C28.3359 6.67188 22.1016 0.710938 14.5 0.710938ZM14.9375 32.2109C14.6641 32.4844 14.2812 32.4844 14.0625 32.2109C11.3828 29.3125 2.57812 19.3594 2.57812 14.0547C2.57812 7.71094 7.9375 2.625 14.5 2.625C21.0625 2.625 26.4219 7.76562 26.4219 14.0547C26.4219 19.3594 17.6172 29.2578 14.9375 32.2109Z" />
                <path
                  d="M14.5 8.58594C11.2734 8.58594 8.59375 11.2109 8.59375 14.4922C8.59375 17.7188 11.2187 20.3984 14.5 20.3984C17.7812 20.3984 20.4062 17.7734 20.4062 14.4922C20.4062 11.2109 17.7266 8.58594 14.5 8.58594ZM14.5 18.4297C12.3125 18.4297 10.5078 16.625 10.5078 14.4375C10.5078 12.25 12.3125 10.4453 14.5 10.4453C16.6875 10.4453 18.4922 12.25 18.4922 14.4375C18.4922 16.625 16.6875 18.4297 14.5 18.4297Z" />
              </svg>
            </div>
            <div>
              <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">Ubicación</h5>
              <p class="text-base text-body-color dark:text-dark-6">
                <slot name="_aula" />
                <br><br>
                C. Periodista Daniel Saucedo Aranda, s/n, Chana, 18014 Granada
              </p>
            </div>
          </div>
        </div>

        <div class="w-full px-4 lg:w-1/2">
          <div class="mb-8 flex w-[330px] max-w-full mx-auto">
            <div class="mr-6 text-[32px] text-primary">
              <svg class="fill-current" width="32" height="38" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M960 112.941c-467.125 0-847.059 379.934-847.059 847.059 0 467.125 379.934 847.059 847.059 847.059 467.125 0 847.059-379.934 847.059-847.059 0-467.125-379.934-847.059-847.059-847.059M960 1920C430.645 1920 0 1489.355 0 960S430.645 0 960 0s960 430.645 960 960-430.645 960-960 960m417.905-575.955L903.552 988.28V395.34h112.941v536.47l429.177 321.77-67.765 90.465Z" fill-rule="evenodd"></path> </g></svg>
            </div>
            <div>
              <h5 class="mb-[18px] text-lg font-semibold text-dark dark:text-white">Horario</h5>
              <p class="text-base text-body-color dark:text-dark-6"><slot name="_horario" /></p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- ====== Localizacion y Hora End ====== -->