---

const {premios} = Astro.props;
---

<!-- ====== Premios Section Start -->
<section id="premios" class="relative z-20 overflow-hidden bg-white dark:bg-dark pt-8 pb-8 lg:pt-[100px] lg:pb-[80px]">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[510px] text-center">
          <span class="mb-2 block text-lg font-semibold text-primary">
            Premios
          </span>
          <h2 class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:leading-[1.2] md:text-[40px]">
            Increibles Recompensas
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            Los premios se repartiran en conjunto, al final del día.
          </p>
        </div>
      </div>
    </div>

    <div class="-mx-4 flex flex-wrap justify-center">
      {premios.map((premio : any)=> (
        <div class="w-full px-4 md:w-1/2 lg:w-1/3">
          <div class={`wow fadeInUp relative z-10 mb-10 overflow-hidden rounded-xl bg-white dark:bg-dark-2 py-10 px-8 shadow-pricing sm:p-12 lg:py-10 lg:px-6 xl:p-14`} data-wow-delay=".15s" style="min-height: 30rem;">

            <h3 class={`mb-5 block text-xl font-medium text-dark dark:text-white`} >
              {premio.puesto}
            </h3>
            { premio.bono && (
            <h2 class="mb-6 text-4xl font-semibold text-dark dark:text-white xl:leading-[1.21] xl:text-[36px]">
              <span class="ml-1 -tracking-[2px]">{premio.bono}</span>
              <span class="text-base font-normal text-body-color dark:text-dark-6">
                Por Jugador
              </span>
              <p class="text-base text-body-color dark:text-dark-6" style="font-size:10pt;">*Bono canjeable en INFORMÁTICA NO SOLO PC </p>
            </h2>
            )}

            <div>
              <h4 class="mb-3 text-lg font-medium text-dark dark:text-white">Premios Físicos</h4>

              <div class="flex flex-col gap-[14px]">
                {premio.listado.map((item : string) => (
                  <p
                    class={`text-base text-body-color dark:text-dark-6`}
                  >
                    {item}
                  </p>
                ))}
              </div>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
<!-- ====== Premios Section End -->