---
const {link} = Astro.props;
---

<!-- ====== Reglas Section Start -->
<section class="relative z-10 overflow-hidden bg-gray-1 dark:bg-dark-2 py-20 lg:py-[80px]">
  <div class="container mx-auto">
    <div class="relative overflow-hidden">
      <div class="w-full px-4">
        <div class="w-full text-center">
          <span class="mb-10 text-3xl font-bold md:leading-[1.44] text-dark dark:text-white md:text-[38px]">
            Reglas
          </span>
          <span class="absolute right-0 text-center">
            <a href={link} class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border border-primary rounded-md px-7 bg-primary shadow-lg hover:bg-blue-dark hover:border-blue-dark">
              Descargar reglas
            </a>
          </span>
        </div>
      </div>
      <div class="flex flex-wrap items-stretch -mx-4">
        <div class="w-full lg:w-1/2 px-4">
          <div class="mx-auto max-w-[650px] text-center">
            <p class="mb-6 mx-auto max-w-[650px] text-base leading-[1.5] text-dark dark:text-white">
              <slot name="col-1"></slot>
            </p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="mx-auto max-w-[650px] text-center">
            <p class="mb-6 mx-auto max-w-[650px] text-base leading-[1.5] text-dark dark:text-white">
              <slot name="col-2"></slot>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Reglas Section End -->
