---
// Importar los componentes necesarios
import Layout from '../layouts/Layout.astro';
import Breadcrumb from '../components/layout/Breadcrumb.astro'; // Ajusta la ruta según la ubicación de tu archivo Breadcrumb

const menuItems = [
  { title: 'League of Legends', path: '/competiciones/league-of-legends' },
  { title: 'Valorant', path: '/competiciones/valorant' },
  { title: 'Rocket League', path: '/competiciones/rocket-league' },
  { title: 'EA Sports FC 24', path: '/competiciones/ea-sports-fc-24' },
  { title: 'Minecraft', path: '/competiciones/minecraft' },
  { title: 'Mario Kart', path: '/competiciones/mario-kart' },
  { title: 'Wii Sports', path: '/competiciones/wii-sports' },
  { title: 'Super Smash Bros. Ultimate', path: '/competiciones/smash' },
  { title: 'Pokémon', path: '/competiciones/pokemon' },
  { title: 'Futbolín', path: '/competiciones/futbolin' },
];
---

<style>

.container {
  padding: 0.25rem;
  max-width: 70%;
  margin: auto;
  text-align: center; 
}

.block {
  padding: 0.5rem;
  margin: 1rem auto;
  background-color: rgb(0, 68, 101);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 700px;
}

.block:hover {
  background-color: rgba(0, 44, 66, 0.9);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .container {
    padding: 0 0.5rem;
  }
}

</style>

<Layout>
  <Breadcrumb>
    <Fragment slot="title">Competiciones</Fragment>
    <Fragment slot="texto">Explora las competiciones disponibles y únete a la que más te guste.</Fragment>
  </Breadcrumb>

  <section class="relative overflow-hidden py-20 lg:py-[115px] bg-gradient-to-bl from-primary/80 from-30% via-secondary/85 via-70% to-tertiary/95">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold text-white text-center mb-8">Competiciones disponibles</h1>
      <p class="text-white text-center">Haz click sobre aquella que te interese.</p>
      <p class="text-white text-center mb-12">Recuerda que puedes apuntarte a varias siempre y cuando no se solapen horarios entre sí.</p>
      <div class="grid grid-cols-1 gap-6">
        {
          menuItems.map((item) => (
            <a href={item.path} class="block p-4 max-w-md mx-auto bg-white/80 backdrop-blur-sm rounded-lg border border-gray-200 shadow-md hover:bg-gray-100/90 transition duration-300 ease-in-out">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-white">{item.title}</h5>
            </a>
          ))
        }
      </div>
    </div>
  </section>   
</Layout>