---
import { Image } from 'astro:assets';
import heroImg from '../assets/img/wallpaper.jpg';

const orgs = ['UGR', 'TSTC', 'OSL', {org: 'ETSIIT', rename: 'etsiit-horizontal-white.png'}, 'DEIIT', 'CSIRC', 'AESIT']
---

<style>
  @media{ 
    .texto-centrado {
      text-align: center; 
      padding: 0 20px; 
    }
  }
</style>

<!-- ====== Hero Section Start -->
<section id="home" class=" overflow-hidden bg-gradient-to-bl from-primary/80 from-30% via-secondary/85 via-70% to-tertiary/95 h-[1300px] pt-[120px] md:pt-[150px] lg:pt-[200px] pb-[75px] md:pb-[85px] lg:pb-[115px]">
  <div class="absolute inset-0 min-h-full min-w-full -z-10">
    <img src={heroImg.src} alt="" class="w-full h-full object-cover" />
  </div>
  <div class="flex flex-col items-center justify-center relative h-full">
    <h1 class="mt-20 pt-24 mb-6 lg:mb-8 text-3xl font-bold leading-snug text-white sm:text-4xl sm:leading-snug lg:text-5xl lg:leading-[1.2]">UGR LAN PARTY</h1>
    <p class="texto-centrado mx-auto mb-4 max-w-[600px] font-medium text-base text-white sm:text-lg sm:leading-[1.44]">¡El mayor evento universitario de eSports de Granada!</p>
    <div class="items-center justify-center px-5 py-5 my-3">
      <div class="items-center justify-center">
        <iframe src="https://player.twitch.tv/?channel=ugr_lan_party&muted=true&autoplay=true&parent=ulp.ugr.es" height="700" width="1300" style="max-width: 100%;"></iframe>
      </div>
      <div class="mt-8 lg:mt-10 flex justify-center items-center">
        <img src="/assets/participan/organizan.png" alt="Organizaciones participantes" class="max-w-[90%] max-h-[200px] h-auto" />
      </div>
    </div>
  </div>
</section>
<!-- ====== Hero Section End -->

