<!-- ====== Horario Section Start -->
<section class="relative z-10 overflow-hidden bg-primary py-20 lg:py-[115px]">
  <div class="container mx-auto">
    <div class="relative overflow-hidden">
      <div class="flex flex-wrap items-stretch -mx-4">
        <div class="w-full px-4">
          <div class="mx-auto max-w-[570px] text-center">
            <h2 class="mb-2.5 text-3xl font-bold md:leading-[1.44] text-white md:text-[38px]">
              <span>¿Cuándo vais a venir?</span>
              <span class="font-normal text-3xl md:text-[40px]"> Cronograma de actividades </span>
            </h2>
            <p class="mb-6 mx-auto max-w-[515px] text-base leading-[1.5] text-white">
              No es necesario que asistas todo el dia. Puedes venir para las actividades que más te interesen guiandote por la siguiente tabla.
            </p>
          </div>
            <div class="text-center" style="margin: 0 5%">
                <img src="/assets/local_horarios/cronograma.png" alt="imagen del cronograma"
                  class="object-cover object-center w-full h-full" />
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Horario Section End -->