<!-- ====== Aviso Legal Section Start -->
<section class="relative z-10 overflow-hidden bg-gray-1 dark:bg-dark-2 py-20 lg:py-[115px]">
  <div class="container mx-auto">
    <div class="relative overflow-hidden">
      <div class="flex flex-wrap items-stretch -mx-4">
        <div class="w-full px-4">
          <div class="mx-auto max-w-[650px] text-center">
            <p class="mb-6 mx-auto max-w-[650px] text-base leading-[1.5] text-dark dark:text-white">

<b>1. Condiciones Generales de Utilización y Aceptación de las mismas</b><br>
La navegación y la utilización de los servicios del portal suponen la aceptación como Usuario y sin reservas de ningún tipo, de todas las condiciones generales de utilización, de las condiciones generales de contratación y cualesquiera otras que puedan existir en relación con la prestación de servicios de la ULP.
<br><br>
La organización podrá en todo momento y sin previo aviso, modificar las presentes condiciones generales, así como las condiciones generales de contratación y las condiciones generales que se incluyan mediante la publicación de las citadas modificaciones en el portal a fin de que sean conocidas con carácter previo por los usuarios.
<br><br>
La inscripción en nuestra web supone así mismo la aceptación de la normativa general de juegos y torneos así como la normativa específica de cada torneo.
<br><br>
<b>2. Política de privacidad</b><br>
En cumplimiento de la LOPD 15/1999 y de la LSSICE 34/2002 y demás disposiciones legales, se le informa que los datos de carácter personal que voluntariamente facilita, incluido el correo electrónico, pasarán a formar parte de un fichero propiedad de la UGR. Además, presta su consentimiento para remitirle información comercial sobre nuestras actividades, productos y servicios pudiendo emplear para ello el correo electrónico. En cumplimiento de lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, rogamos que si no desea que incluyamos sus datos en nuestros ficheros ni recibir comunicaciones publicitarias vía correo electrónico o a través de otros medios de comunicación electrónica, o si desea ejercitar los derechos de acceso, rectificación, cancelación, y oposición al tratamiento de sus datos personales establecidos en el artículo 5 de la Ley 15/1999 de 13 de diciembre, de Protección de Datos de Carácter Personal, nos lo comunique a través de la sección contacto de la página web.
<br><br>
Los usuarios permiten el uso de forma atemporal de las imágenes recabadas (fotografías o vídeos), tomadas en instalaciones y/o durante las actividades organizadas por la ULP, en cualquier publicación o acción publicitaria (página web, folletos informativos, tablones de exposición o correos electrónicos).
<br><br>
<b>3. Menores de edad</b><br>
Todos los participantes de la ULP deben ser mayores de edad.
<br><br>
<b>4. Política de cookies</b><br>
Las cookies son archivos pequeños que las páginas web, tiendas online, intranets, plataformas online o similares, almacenan en el navegador del usuario que las visita y resultan necesarios para aportar a la navegación web innumerables ventajas en la prestación de servicios interactivos.
<br><br>
Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal y desaparecen al terminar la sesión del usuario. En ningún caso se utilizarán las cookies para recoger información de carácter personal.
<br><br>
<b>5. Licencia de uso</b><br>
Los usuarios tienen una licencia universal, no exclusiva, de libre uso y revocable en cualquier momento para:
(a) visualizar este Sitio Web y todo el material publicado en él (incluido el material de terceros) mediante el uso de un ordenador o dispositivo móvil a través de un navegador web.
(b) copiar y almacenar una copia de este Sitio Web o/y de todo el material publicado en él, en la memoria caché de su navegador web.
(c) imprimir las páginas a través de un dispositivo físico (impresora-papel) o dispositivo virtual (impresora-pdf) siempre y cuando sea, única y exclusivamente, para su uso personal y privado [y no tenga como fin un uso comercial]
(d) visualizar y descargar los documentos (jpg o pdf) publicados en Este Sitio Web destinado a dicho fin
<br><br>
No le autorizamos cualquier otro derecho sobre este sitio o sobre el material publicado en él (incluido el material de terceros). Esto significa que todos los derechos quedan reservados.
<br><br>
No le autorizamos cualquier otro derecho sobre este sitio o sobre el material publicado en él. Queda prohibido cualquier otro tipo de reproducción sin nuestro permiso.
<br><br>
En caso de duda Ud, como visitante de nuestro sitio entiende y acepta que: no puede adaptar, editar, cambiar, transformar, publicar, re-publicar, distribuir, re-distribuir, realizar cualquier tipo de emisión o re-emisión por medio ondas o cualquier otra tecnología de transmisión, mostrar en lugares públicos o privados mediante el uso de elementos de visión o escucha comunitarios este sitio web o el material publicado en el (con independencia de tipo de archivo o elemento) sin nuestro permiso previo por escrito.
<br><br>
<b>6. Ausencia de garantía y limitación de responsabilidades</b><br>
La organización no controla, en todo momento, la utilización que los Usuarios hacen de este Sitio Web, en este sentido, no se responsabiliza de los actos que, incumpliendo lo previsto en este documento, hayan podido realizar los Usuarios de la misma.
<br><br>
El Usuario reconoce y acepta que la utilización de este Sitio Web y de sus servicios se realiza bajo su entera responsabilidad. La organización únicamente responderá de los daños que el Usuario pueda sufrir como consecuencia de la utilización del portal cuando dichos daños sean imputables a una actuación dolosa de la organización. No obstante, declaramos haber adoptado todas las medidas necesarias, dentro de sus posibilidades y del estado de la tecnología, para garantizar el funcionamiento de Este Sitio Web y evitar la existencia y transmisión de virus y otros componentes que puedan perjudicar al Usuario.
<br><br>
No obstante, no garantizamos la ausencia de virus en Este Sitio Web o en el Servidor que lo suministra o, asimismo, cualesquiera otros elementos que puedan producir alteraciones en el sistema informático del Usuario por actos de terceros, ni el establecimiento por terceros de hiperenlaces no autorizados.
<br><br>
La organización no puede garantizar la exactitud de sus contenidos ni la continuidad de los mismos reservándose el derecho a realizar variaciones o modificaciones en los mismos de forma unilateral, total o parcialmente, así como interrumpir o suspender el acceso cuando así lo considere.
<br><br>
El usuario puede acceder, a través de enlaces, a páginas de información o de servicios ofrecidos por terceros. Las operaciones que el usuario pueda realizar o la información que pueda encontrar, son responsabilidad y obligan, en su caso, al usuario y al titular de la página de destino, declinando la organización cualquier responsabilidad al respecto.
<br><br>
<b>7. Links externos</b><br>
Los enlaces contenidos en este Sitio Web pueden dirigir a contenidos Web de terceros. La organización no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en ningún caso implican relación alguna entre la organización y las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren. La organización tampoco será responsable del contenido de las páginas web de destino que se establezcan mediante vínculos en este Sitio Web ni tampoco de las infracciones de derechos de terceros en las que dichas páginas pudieran incurrir.
<br><br>
<b>8. Fotografías durante el evento.</b><br>
Todos aquellos que en los días del evento se encuentren en las zonas habilitadas   para realización de la UGR LAN PARTY, podrán aparecer en las fotos que se realicen durante el evento.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Aviso Legal Section End -->