<!-- ====== Localizacion Section Start -->
<section
  id="about"
  class="bg-gray-1 dark:bg-dark-2 pt-20 pb-8 lg:pt-[120px] lg:pb-[70px]"
>
  <div class="container">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4 lg:w-1/2">
          <div class="mb-12 max-w-[540px] lg:mb-0">
            <h2
              class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]">
              ¿A donde nos encontramos?
            </h2>
            <p class="mb-10 text-base leading-relaxed text-body-color dark:text-dark-6">
              Todos las actividades se realizan en la Escuela Técnica Superior de Ingenierías Informática y de Telecomunicación (ETSIIT) de la Universidad de Granada (UGR).
              <br> <br>
              Esta se encuentra en la zona de La Chana (18014), en la calle Periodista Daniel Saucedo Aranda.
            </p>
          </div>
        </div>

        <div class="w-full px-4 lg:w-1/2">
            <div class="mb-4 sm:mb-8 sm:h-[400px] md:h-[540px] lg:h-[400px] xl:h-[500px]">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.141314840517!2d-3.6249474!3d37.1968728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fc54f0f7fea1%3A0x5463cb956f4f4595!2sC.%20Periodista%20Daniel%20Saucedo%20Aranda%2C%20Chana%2C%2018014%20Granada!5e0!3m2!1sen!2ses!4v1707846866013!5m2!1sen!2ses" width="100%" height="100%" style="border-radius: 5%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
      </div>

      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4">
            <div class="mx-auto max-w-[650px] text-center" style="margin-top: 2rem">
                <img src="/assets/local_horarios/planos.png" alt="imagen planos"
                  class="object-cover object-center w-full h-full" />
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== Localizacion Section End -->
