---
const teams = [
  {name: "Antonio Miguel Mora", description: "Departamento de Teoría de la Señal, Telemática y Comunicaciones ", image: "/assets/team/team01.jpeg", linkedinLink: "https://www.linkedin.com/in/antoniomora",},
  {name: "Rafael Alejandro Rodríguez", description: "Departamento de Teoría de la Señal, Telemática y Comunicaciones ", image: "/assets/team/team02.jpeg", linkedinLink: "https://www.linkedin.com/in/rodgom",},
  {name: "Marcelino José Cabrera", description: "Departamento de Lenguajes y Sistemas Informáticos", image: "/assets/team/team03.jpeg", linkedinLink: "https://www.linkedin.com/in/marcelinocabrera",},
]
---

<!-- ====== Team Section Start -->
<section id="team" class="bg-gray-1 dark:bg-dark-2 overflow-hidden pt-10 pb-12 lg:pt-[120px] lg:pb-[90px]">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[485px] text-center">
          <span class="text-primary mb-2 block text-lg font-semibold">
            Equipo Técnico
          </span>
          <h2 class="mb-3 text-3xl leading-[1.2] font-bold text-dark dark:text-white sm:text-4xl md:text-[40px]">
            Más que Profesores
          </h2>
          <p class="text-body-color dark:text-dark-6 text-base">
            <slot name="texto"></slot>
            no solo se centran en las clases, también en pasarlo bien.
          </p>
        </div>
      </div>
    </div>

    <div class="-mx-4 flex flex-wrap justify-center">
      {
        teams.map(team => (
          <div class="w-full px-4 sm:w-1/2 lg:w-1/4 xl:w-1/4">
            <div class="wow fadeInUp group shadow-testimonial dark:shadow-none mb-8 rounded-xl bg-white dark:bg-dark px-5 pt-12 pb-10" data-wow-delay=".1s">
              <div class="relative z-10 mx-auto mb-5 w-[120px]">
                <img src={team.image} alt="team image" class=" w-[120px] rounded" />
                <span
                  class="bg-secondary absolute bottom-0 left-0 -z-10 h-10 w-10 rounded opacity-0 transition-all group-hover:opacity-100"></span>
              </div>
              <div class="text-center">
                <h4 class="mb-1 text-lg font-semibold text-dark dark:text-white">
                  {team.name}
                </h4>
                <p class="text-body-color dark:text-dark-6 mb-5 text-sm">
                  {team.description}
                </p>
                <div class="flex items-center gap-5 justify-center">
                  <a
                    href={team.linkedinLink}
                    class="hover:text-primary text-dark-6"
                  >

<?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
<svg width="40px" height="40px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="none"><path fill="#0A66C2" d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"/></svg>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!-- ====== Team Section End -->