<!-- ====== About Section Start -->
<section
  id="about"
  class="bg-gray-1 dark:bg-dark-2 pt-10 pb-2 lg:pt-[120px] lg:pb-[70px]"
>
  <div class="container">
    <div class="wow fadeInUp " data-wow-delay=".2s">
      <div class="flex justify-center items-center">
        <iframe class="max-w-[1200] max-h-[630px] " width="1200" height="630" src="https://www.youtube-nocookie.com/embed/kaDpezuvTD0?si=sKSVZGucpf3yhTI5&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

